:host {
  display   : block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin: 1rem 0;
}

.post-image {
  height    : 28rem;
  width     : 100%;
}

.post-image img {
  object-fit: contain;
  height: 100%;
  width : 100%;
}
